name: Archive
on:
  schedule:
    - cron: 0 12 * * *
  workflow_dispatch:
concurrency:
  group: archive
  cancel-in-progress: false
jobs:
  archive:
    name: Archive AC submissions
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout the Git repository
        uses: actions/checkout@v5.0.1
      - name: Setup Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version: 1.22
      - name: Archive AC submissions
        run: |
          ln -s $PWD/.procon-gardener ~/.procon-gardener
          go run github.com/togatoga/procon-gardener@d66e407167c781e1477067f074854cca91d66858 archive
          git push
